:root {
    --primary-brand:#4D5AE5;
    --order-active:#404BBF;
    --Dark:#2E2F42;
    --Success:#31D0AA;
    --_text:#434455;
    --Subtle-Text:#8E8F99;
    --Accent:#E7E9FC;
    --Light:#F4F4FD;
    --bgc-white: #fff;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

body {    
    color: var(--_text);
    background-color: var(--bgc-white);
    font-family: 'roboto', 'sans-serif';
    font-size: 16px;
    font-weight: 400;
}

/* header styles */
.menu-item,
.addr-item,
.card-item {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-link,
.addr-mail,
.addr-tel,
.logo {
    text-decoration: none;
    display: inline-block;
}

 .main-nav {
    display: flex;
    background: #FFFFFF;
    position: sticky;
    top: -1px;
}

 .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 24px 156px;
    width: 1440px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-nav,
.main-menu,
.header-addr {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.header .menu-link {
    color: var(--Dark);
    font-weight: 600;
    text-align: center;
}

.header .menu-link:hover,
.header .menu-link:focus {
    color: var(--primary-brand);
}

.addr-mail,
.addr-tel {
    color: var(--_text);
    text-align: center;
}

.addr-mail:hover,
.addr-tel:hover,
.addr-mail:focus,
.addr-tel:focus {
    color: var(--primary-brand);
}

/* Logo styles */
.logo {    
    display: inline-block;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 115px;    
    font-family: 'Raleway', 'sans-serif';
    font-weight: 800;
    font-size: 1.125em;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--Dark);
}

.logo-web {
    color: var(--primary-brand);
}

/*--- index.html styles ---*/

/* .section {} */

.section-title {
    font-weight: 600;
    font-size: 2.25em;
    line-height: 1.11;
    color: var(--Dark);
    text-align: center;
    text-transform: capitalize;
}

/* title section styles */
.main {
    background-color: var(--Dark);
}

.main-title {
    font-size: 3.5em;
    line-height: 1.07;
    text-align: center;
    color: var(--bgc-white);
}

.order-btn {
    font-family: inherit;
    font-weight: 600;
    font-size: inherit;
    line-height: 1.1875;
    /* line-height: inherit; */
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--bgc-white);
    background-color: var(--primary-brand);
    cursor: pointer;
}

.order-btn:hover,
.order-btn:focus {
    color: var(--bgc-white);
    background-color: var(--order-active);
}

/* .order-btn:active {
    background: var(--order-active);
} */

/* Our benefits section */
/* .benefits {} */

/* .card-list {} */

/* .card-item {} */

.title {
    font-weight: 600;
    font-size: 1.25em;
    color: var(--Dark);
}

/* .text {} */

/* Our gallery section style */
/* .gallery {} */

/* .card-list {} */

.card-item {
    background-color: var(--bgc-white);
}

/* .card-img {} */

/* Our team section */
.team {
    background: var(--Light);
}

/* .card-list {} */

.team .title,
.team .text {
    text-align: center;
}

/* Footer section styles */
.footer {
    background-color: var(--Dark);
    color: var(--Accent);
}

.footer .logo {
    color: var(--Light);
    line-height: 1.17;
}

/* .text {} */

/*--- portfolio.html styles ---*/

.filters {
    list-style: none;
}

.filter-button {
    font-family: inherit;
    font-weight: 600;
    font-size: inherit;
    line-height: inherit;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--primary-brand);
    background-color: var(--Light);
    cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
    color: var(--bgc-white);
    background-color: var(--primary-brand);
}

/* .card-list {} */

/* .card-item {} */

.card-link {
    text-decoration: none;
    color: inherit;
}

/* .image {} */

/* .title {} */

/* .filter-tag {} */